.showcase {
    max-width: 1331px;
    min-width: 960px;
    background-color: #fff;
    margin: 1rem;
    box-shadow: 1px 1px 4px #ccc;

    .showcase-contents {
        padding: 1rem;
    }

    .showcase-video-list {
        display: flex;
        flex-wrap: wrap;
    }
}