<div class="showcase">
    <app-box-header
      [title]="title"
      [watched]="0"
      [totalCount]="contents ? contents.length : 0"
      [lastUpdated]="lastUpdated"
      >
    </app-box-header>
    <div class="showcase-contents">
        <div class="showcase-video-list" *ngIf="contents && contents.length > 0; else errorBlock">
            <app-video-detail *ngFor="let v of contents" 
                [video]="v">
            </app-video-detail>
        </div>
        <ng-template #errorBlock>
            <app-error errorMessage="We couldn't find anything!"></app-error>
        </ng-template>
    </div>
</div>