:host {
    position: relative;
}

.card-list {
    grid-template-rows: repeat(auto-fill, var(--card-height));
    min-width: 0;
    width: 100%;
}

header {
    h2 {
        user-select: none;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin: 2rem 0;
    }
}

.light-title {
    color: var(--colour-text-bright);
}
