<div>
  <ng-container *ngIf="(directories$ | async) as directories">
    <app-directory-list 
      *ngIf="directories.length > 0"
      [class.loading]="loading" 
      [baseDir]="baseDir"
      [heading]="(headingTitle$ | async)"
      [directories]="directories">
    </app-directory-list>
  </ng-container>
  <ng-container *ngIf="(videos$ | async) as videos">
    <app-showcase
      *ngIf="videos.length > 0"
      [class.loading]="loading" 
      [showcaseTitle]="(headingTitle$ | async)"
      [contents]="videos"
      [baseDir]="baseDir">
    </app-showcase>
  </ng-container>
  <app-loading *ngIf="loading"></app-loading>
</div>
