<app-series-data-select-item 
    *ngFor="let option of optionsList?.results"
    class="options card"
    [seriesOption]="option"
    [class.current]="option.id === current"
    (seriesOptionChange)="updateSeriesOption($event)">

</app-series-data-select-item>
<div class="card manual-selection">
    <p>Enter <a href="https://anilist.co/search/anime" target="_blank">AniList</a> ID Manually</p>
    <div class="split">
        <input type="number" [(ngModel)]="manualId"/>
        <button (click)="clearAniListEntry()">Clear</button>
        <button (click)="updateAniListEntry()">Update</button>
    </div>
</div>