@import "src/styles/screen-sizes";

.current {
    background-color: lightblue;
}

.manual-selection {
    height: auto;
    padding: 1rem;

    p {
        font-size: 2rem;
        font-weight: 600;
    }

    .split {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;

        input {
            flex-grow: 1;
        }

        button {
            flex-basis: 150px;
            margin-left: 1rem;
        }
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: $layout-2-col-screen-max) {
    :host {
        display: block;

        app-series-data-select-item {
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: $layout-4-col-screen-min) {
    :host {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}