.current {
    background-color: lightblue;
}

:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: 1345px) {
    :host {
        display: block;

        app-series-data-select-item {
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: 2230px) {
    :host {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}