:host {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: auto;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    margin-right: 2rem;
    font-weight: 600;
    border: 2px solid transparent;

    box-shadow: 0 4px 6px rgba(49, 54, 68, 0.05), 0 5px 20px rgba(49, 54, 68, 0.08);

    &.prune {
        background-color: var(--colour-pastel-soap);   
    }
    &.clear {
        background-color: var(--colour-pastel-beige);   
    }

    &:hover {
        border: 2px solid rgba(0,0,0,0.25);
    }
}