@import "src/styles/screen-sizes";

.banner {
    margin-top: calc(-1 * var(--header-compact-height));
    margin-left: calc((var(--app-width) - 100vw) / 2);
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        visibility: hidden;
    }

    .shadow {
        background: linear-gradient(180deg, 
            var(--color-shadow-dark-transparent) 30%, 
            var(--color-shadow-dark-semi-transparent));

        height: 100%;
        width: 100%;
    }

    &,
    .shadow {
        transition: max-height 0.5s;
        max-height: min(var(--series-banner-max-height), 33vh);
    }
}

.series-info {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 25rem auto var(--action-bar-width);
    height: var(--series-info-height);
    overflow: hidden;

    .cover {
        padding-right: 2rem;

        img {
            max-width: 23rem;
            height: 34.5rem;
            object-fit: cover;
        }
    }

    .pre-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--colour-text-lighter);
        font-size: 1.4rem;
        font-weight: 600;

        .episodes .noun {
            font-size: 0.8em;
        }
    }

    header {
        .native-title {
            font-size: 2.3rem;
            font-weight: 600;
            padding-top: 5px;
            color: var(--colour-text-black);
        }
        .sides {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            font-size: 1.4rem;
            color: var(--colour-text-light);
            padding-top: 3px;

            .genres {
                font-size: 1.2rem;
                color: var(--colour-text);
            }
        }
    }

    .divider {
        opacity: 0.5;
    }

    .content {
        margin-top: 5px;

        .studio {
            // font-style: italic;
            font-weight: 600;
            font-size: 1.2rem;
        }

        .source-media {
            padding-top: 5px;
            font-size: 1.2rem;
        }

        .desc {
            padding-top: 5px;
            font-size: 1.2rem;
            max-height: 20rem;
            overflow-y: auto;
        }

        .bottom {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: var(--colour-bg-light-accent);

            .rel {
                font-size: 1.2rem;
            }
        }
    }

    .actions {
        padding-left: 2rem;

        .icon-button {
            display: flex;
            margin-bottom: 1rem;

            .button-icon {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                background-color: var(--colour-text);

                mask-repeat: no-repeat;
                mask-position: center;

            }

            .button-text {
                display: none;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .heart {
                mask: url('/assets/icons/heart.svg');
                background-color: red;
                opacity: 0.3;

                &.highlight {
                    opacity: 1;
                }
            }
            .directory {
                mask: url('/assets/icons/folder.svg');
            }
            .info {
                mask: url('/assets/icons/info.svg');
            }
            .back {
                mask: url('/assets/icons/back2.svg');
            }
            .refresh {
                mask: url('/assets/icons/refresh.svg');
            }
            .recommend {
                mask: url('/assets/icons/star.svg');
                background-color: rgb(192, 180, 120);
                opacity: 0.3;

                &.highlight {
                    opacity: 1;
                }
            }
        }
    }
}

.series-info.generic {
    grid-template-columns: auto var(--action-bar-width);
}

.slide-container {
    width: 100%;
    overflow: hidden;
}

.slidable {
    display: flex;
    flex-basis: var(--app-width) auto;
    width: calc(2 * var(--app-width) - var(--action-bar-width));

    transition: transform 0.5s ease;

    .series-info {
        width: var(--app-width);
    }

    .series-info-edit {
        padding: 2rem;
        width: calc(var(--app-width) - var(--action-bar-width));
        min-height: var(--series-info-height);
        max-height: var(--series-info-height);

        transition: max-height 0.5s ease;
    }

    &.editing {
        transform: translateX(calc(-1 * var(--app-width)))
            translateX(var(--action-bar-width));

        .series-info-edit {
            max-height: 100vh;
        }
    }
}

@media (min-width: $layout-4-col-screen-min) {
    .banner.expanded {
        &,
        .shadow {
            max-height: 33vw;
        }
    }

    .series-info {
        .actions .icon-button {
            .button-icon {
                margin-right: 0.75rem;
            }
            .button-text {
                display: inline-block;
            }
        }
    }
}
