@media only screen and (min-width: 960px) {
    :host {
        flex-basis: 33.33%;
    }
}

@media only screen and (max-width: 960px) {
    :host {
        flex-basis: 50%;
    }
}

:host {
    display: block;
}

.directory-detail {
    margin: 0.5rem;
    min-height: 5rem;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,0.5);

    &.small {

    }

    &.medium {

    }

    &.big {

    }
}