:root {
    --colour-header-background: rgb(43, 45, 66);
    --colour-header-background-semi-transparent: rgba(43, 45, 66, 0.5);
    --colour-header-border-bottom: rgb(0,0,0);

    --colour-bg-grey: rgb(192, 192, 192);
    --colour-bg-light-grey: rgb(224, 224, 224);
    --colour-bg-light-peach: rgb(237, 241, 245);
    --colour-bg-semi-light: rgb(214, 235, 245);
    --colour-bg-light-accent: rgb(239, 247, 251);
    --colour-bg-light: rgb(242, 242, 242);
    --colour-bg-semi-transparent-light: rgba(242, 242, 242, 0.5);
    --colour-bg-slightly-transparent-light: rgba(242, 242, 242, 0.8);
    --colour-bg-white: rgb(255, 255, 255);

    --colour-text: rgb(92, 114, 138);
    --colour-text-blue: rgb(61, 180, 242);
    --colour-text-magenta: rgb(213, 53, 255);
    --colour-text-light: rgb(110,133,158);
    --colour-text-lighter: rgb(146,153,161);
    --colour-text-bright: rgb(237,241,245);
    --colour-text-white: rgb(237,241,245);
    --colour-text-black: rgb(0,0,0);

    --color-shadow-dark-transparent: rgb(6, 13, 34, 0);
    --color-shadow-dark-semi-transparent: rgb(6, 13, 34, 0.4);
}