@import "src/styles/colours";

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

h2 {
  color: $colour-text-bright;
}

h3 {
  margin: 0;
}