$app-max-width: 12.8rem;

$bar-size: 3.5rem;
$header-height: 16rem;
$header-content-width: 12.8rem;

$main-content-upshift: -15rem;

$card-height: 26.5rem;
$card-width: 45rem;
$card-img-width: 18.5rem;