/* for 3 and 4 cols */
$app-max-width: 128rem;
$app-2-col-max-width: 80rem;
$app-min-width: 60rem;

$bar-size: 3.5rem;
$header-height: 16rem;
$header-content-width: 128rem;

$main-content-upshift: -15rem;

$card-height: 26.5rem;
$card-width: 45rem;
$card-img-width: 18.5rem;