@import "src/styles/sizes";
@import "src/styles/colours";
@import "src/styles/fonts";
@import "src/styles/cards";
@import "src/styles/grid-layout";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--colour-bg-light);

  /* add rikka */
  background-image: url('/assets/rikka.png');
  background-repeat: no-repeat;
  background-position: right 30px bottom 0px;
  background-attachment: fixed;
  
  overflow-x: hidden;
}

button {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  vertical-align: baseline;
  text-align: center;
  line-height: 1.8rem;
  cursor: pointer;
  // background-color: transparent;

  .button-icon {
    display: inline-block;
  }
}

button:hover {
    background-color: var(--colour-bg-light-grey);
}

@media (max-width: $mobile-screen-max) {
  body {
    background-position: 0% 0%; // default
    background-size: cover;
  }  
}