@import "src/styles/colours";
@import "src/styles/fonts";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $colour-bg-light;

  /* add rikka */
  background-image: url('/assets/rikka.png');
  background-repeat: no-repeat;
  background-position: right 30px bottom -20px;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

p {
    margin: 0;
}

button:focus {
  outline: none;
}
