.icon {
    display: block;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-left: 2px;
}

.sub {
    font-size: 1rem;
    display: none;
}

.connected,
.disconnected {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.connected {
    .icon {
        mask: url('/assets/icons/connected.svg');
        background-color: var(--colour-light-green);
    }

    .sub {
        color: var(--colour-light-green);
    }
}

.disconnected {
    .icon {
        mask: url('/assets/icons/disconnected.svg');
        background-color: var(--colour-red);
    }

    .sub {
        color: var(--colour-red);
    }
}

.connected:hover,
.disconnected:hover {
    .sub {
        display: block;
    }
}

