<header class="grid-layout">
    <h2><a [routerLink]="['/v/browse']">Browse</a></h2>
    <div class="bread-crumbs spacer">
        <ng-container *ngIf="breadCrumbs$ | async as breadCrumbs">
            <ng-container *ngFor="let link of breadCrumbs">
                <span *ngIf="link.url === undefined">{{ link.text || link }}</span>
                <a *ngIf="link.url !== undefined"
                    [routerLink]="[link.url]">
                    {{ link.text }}
                </a>
            </ng-container>
        </ng-container>
    </div>
</header>
<app-list-view
    [files]="fileList$ | async"
    [loading]="loading"
    [details]="details$ | async"
    [parent]="parent$ | async">
</app-list-view>