@import "src/styles/screen-sizes";

:host {
    position: relative;
    display: block;
    margin-top: var(--main-content-upshift);
}

.grid-layout {
    grid-template-columns: repeat(2, 2fr);
}

header {
    h2 {
        color: var(--colour-text-bright);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin: 2rem 0;

        &, a {
            user-select: none;
        }
    }

    .bread-crumbs {
        margin: 0.83em 0;

        color: var(--colour-text-bright);
        // font-size: 1.5rem;
        font-size: 1.5em;
        text-align: right;
    }

    & > * {
        min-width: var(--card-min-width);
    }
}

@media (max-width: $layout-2-col-screen-max) {
    header .bread-crumbs {
        font-size: 1.25em;
        max-height: var(--grid-header-default-height);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}