$bar-size: 250px;

.side-bar {
    display: block;
    width: 300px;
    height: 100vh;
    background-color: #aaa;

    .first-class {

    }

    .second-class {
        background-color: #ccc;

    }
}