<div class="navigation-options">
    <div class="left">
        <div class="back-button">
            <a (click)="goBack()">Back</a>
        </div>
    </div>
    <div class="middle">
        <div class="bookmarks">
            <a *ngFor="let bookmark of bookmarks | keyvalue"
                class="bookmark"
                routerLink="./"
                [fragment]="'file' + bookmark.value">
                {{ bookmark.key }}
            </a>
        </div>
    </div>
    <div class="right">
        <div class="display-options {{ displayMode | lowercase }}">
            <a class="line" (click)="displayLineMode()">
                Line
            </a>
            <a class="list"(click)="displayListMode()">
                List
            </a>
            <!-- <a (click)="displayPreviewMode()">
                Preview
            </a> -->
        </div>
    </div>
</div>
<ng-container *ngIf="!loading; else loadingMsg">
    <ng-container *ngIf="files?.length > 0; else noFiles">
        <ng-container [ngSwitch]="displayMode | lowercase">
            <div *ngSwitchCase="'line'"
                class="file-list grid-layout super-compact">
                <app-leaf-line-view
                    *ngFor="let file of files; index as i"
                    [id]="'file' + i"
                    [file]="file">
                </app-leaf-line-view>
            </div>
            <div *ngSwitchCase="'list'"
                class="file-list grid-layout compact">
                <app-leaf-list-view
                    *ngFor="let file of files; index as i"
                    [id]="'file' + i"
                    class="card"
                    [file]="file">
                </app-leaf-list-view>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #noFiles>
        <div class="big-text">
            No files
        </div>
    </ng-template>
</ng-container>
<ng-template #loadingMsg>
    <div class="big-text">
        Loading ...
    </div>
</ng-template>