.navigation-options {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 1rem;;

    .left {
        a {
            margin-right: 2rem;
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            background-color: var(--colour-text);

            mask-repeat: no-repeat;
            mask-position: center;
        }

        a:hover {
            background-color: var(--colour-text-bright);
        }

        .up-button {
            mask: url('/assets/icons/up.svg');
        }

        .back-button {
            mask: url('/assets/icons/back2.svg');
        }
    }

    .middle {
        flex-grow: 1;
        padding: 0 2rem;

        .bookmarks {
            font-weight: 600;
            color: var(--colour-text-light);

            display: flex;
            justify-content: center;

            .bookmark {
                padding: 0 0.5rem;
            }
        }
    }

    .right .display-options {
        text-align: right;

        & > * {
            margin-left: 1rem;
            // cursor: pointer;

            &:hover {
                color: var(--colour-text-bright);
            }
        }

        &.list .list,
        &.line .line {
            color: var(--colour-text-bright);
        }
    }
}

.file-list {
    padding: 0.5rem 0;

    min-width: 0;
    width: 100%;
}