<h2>Maintenance</h2>

<div class="server-info info-box">
    <h3>UI Info</h3>
    <table class="two-col">
        <tr>
            <td>API Url:</td>
            <td>{{ apiUrl }}</td>
        </tr>
        <tr>
            <td>Agent Url:</td>
            <td>{{ agentUrl }}</td>
        </tr>
    </table>
</div>

<ng-container *ngIf="(serverInfo$ | async) as serverInfo">
    <div>
        <h3>Server Info</h3>
        <table class="two-col">
            <tr>
                <td>Version:</td>
                <td>{{ serverInfo.version}}</td>
            </tr>
            <tr>
                <td>Api Prefix:</td>
                <td>{{ serverInfo.apiPrefix }}</td>
            </tr>
            <tr>
                <td>Port:</td>
                <td>{{ serverInfo.port }}</td>
            </tr>
        </table>
    </div>

<ng-container *ngIf="(serverLoad$ | async) as serverLoad">
    <div class="info-box">
        <h3>Server Load</h3>
        <table class="two-col">
            <tr>
                <td>Max Workers:</td>
                <td>{{ serverLoad.max }}</td>
            </tr>
            <tr>
                <td>Size:</td>
                <td>{{ serverLoad.size }}</td>
            </tr>
            <tr>
                <td>Available:</td>
                <td>{{ serverLoad.available }}</td>
            </tr>
            <tr>
                <td>Waiting:</td>
                <td>{{ serverLoad.waiting }}</td>
            </tr>
        </table>
    </div>
</ng-container>

<ng-container *ngIf="(serverConsole$ | async) as console">
    <div class="info-box">
        <h3>Server Logs</h3>
        <div>
            {{ console }}
        </div>
    </div>
</ng-container>

<button class="prune-thumb" (click)="pruneThumbnails()">Prune Thumbnails</button>

<button class="" (click)="clearLocalStorage()">Clear Storage</button>