header {
    h2 {
        color: var(--colour-text-bright);
    }
}

h3, 
h4 {
    margin-bottom: 1rem;
}

.api-server-info {
    display: flex;
}

.info-box {
    margin-bottom: 1rem;
    padding: 1rem 0;


    .stats {
        display: flex;
        flex-wrap: wrap;

        app-stat-block {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
        }

        // app-stat-block:last-child {
        //     margin-right: 0;
        // }
    }
}

.auth-error {
    color: var(--colour-red);
    font-style: italic;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: var(--colour-bg-slightly-transparent-light);
    box-shadow: 0 4px 6px rgba(49, 54, 68, 0.05), 0 5px 20px rgba(49, 54, 68, 0.08);
    margin-bottom: 1rem;
}