<div class="header"
    [class.compact]="compact$ | async"
    [class.transparent]="transparent$ | async">
    <div class="header-container">
        <div class="left side-bar">
            <div class="navigation">
                <div *ngFor="let link of navigation"
                    class="nav-item"
                    [class.highlight]="link.text === highlight">
                    <a [routerLink]="[link.url]">
                        {{ link.text }}
                    </a>
                </div>
            </div>
        </div>
        <div class="middle">
            <h1 class="title">WINDRUNNER</h1>
        </div>
        <div class="right side-bar">
            <!-- <app-search-bar (search)="handleSearch($event)"></app-search-bar> -->
        </div>
    </div>
    <div [style.background-image]="(bannerUpdates$ | async)"
        [style.opacity]="bannerOpacity"
        class="bg-underlay"></div>
</div>