@import "src/colours.scss";

$bar-size: 350px;
$header-height: 3rem;
$header-content-width: 1280px;

.header {
    height: $header-height;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $header-background-colour;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border-bottom: solid 1px $header-border-bottom-colour;

    .header-container {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        // max-width: $header-content-width;
        height: 3rem;
    }

    .header-container > * {
        display: flex;
        align-items: center;
        height: 3rem;
    }

    .side-bar {
        width: $bar-size;
        flex-basis: $bar-size;
    }

    .left {
        margin-left: 0.5rem;

        .navigation {
            display: flex;

            .nav-item {
                margin-right: 0.75rem;

                a {
                    text-decoration: none;
                    font-size: 0.9em;
                    color: #9d9d9d;
                }

                &.highlight a,
                a:hover {
                    color: #ffffff;
                }
            }

        }
    }

    .middle {
        flex-grow: 1;
        justify-content: space-around;

        h1.title {
            display: inline-block;
            margin: 0 0 0 1px;
            padding-left: 0.5rem;
            font-family: 'Karla', sans-serif;
            font-size: 2rem;
            font-weight: 400;

            /* colours */
            background-image: -webkit-gradient( linear, left top, right top,
                color-stop(0, #66f),
                color-stop(0.5, #f2f),
                color-stop(1, #f66)) !important;

            color: transparent !important;
            -webkit-background-clip: text;
        }
    }

    .right {
        flex-direction: row-reverse;
        margin-right: 0.5rem;
    }
}
