@import "src/styles/colours.scss";
@import "src/styles/sizes.scss";

.header {
    height: $header-height;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $colour-header-background;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border-bottom: solid 1px $colour-header-border-bottom;

    position: relative;

    &, .header-container {
        padding: 3.5rem 0.5rem;
    }

    .bg-underlay, .header-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .bg-underlay {
        background-size: cover;
        background-position: center;
        opacity: 0.1;
        transition: opacity .5s ease-in-out;
    }

    .header-container {
        flex-grow: 1;

        display: flex;
        // align-items: center;
        justify-content: space-between;

        // max-width: $header-content-width;
        height: $header-height;
    }

    .header-container > * {
        display: flex;
        align-items: center;
        height: 3rem;
        z-index: 1;
    }

    .side-bar {
        width: $bar-size;
        flex-basis: $bar-size;
    }

    .left {
        margin-left: 2rem;
    }

    .middle {
        flex-grow: 1;
        justify-content: space-around;

        h1.title {
            display: inline-block;
            margin: 0 0 0 1px;
            padding-left: 0.5rem;
            font-family: 'Karla', sans-serif;
            font-size: 3.2rem;
            font-weight: 400;

            /* colours */
            background-image: -webkit-gradient( linear, left top, right top,
                color-stop(0, #66f),
                color-stop(0.5, #f2f),
                color-stop(1, #f66)) !important;

            color: transparent !important;
            background-clip: text;
        }
    }

    .right {
        flex-direction: row-reverse;
        margin-right: 2rem;
    }

    .navigation {
        display: flex;

        .nav-item {
            margin-right: 1.5rem;
            word-break: keep-all;

            a {
                font-size: 0.8em;
                color: $colour-text-light;
            }

            &.highlight a,
            a:hover {
                color: $colour-text-bright;
            }
        }
    }
}

.header.compact {
    &, 
    .header-container {
        height: 5rem;
        padding: 0.8rem;
        align-items: center;
    }

    .bg-underlay {
        display: none;
    }
}