.showcase {
    position: relative;
    max-width: 1331px;
    min-width: 960px;
    background-color: #fff;
    margin: 1rem;
    box-shadow: 1px 1px 4px #ccc;

    .showcase-contents {
        padding: 1rem;
    }

    .showcase-video-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .hover-bar {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}