<div class="box-header">
    <h2>
        <span *ngIf="simpleHeading; else complexBlock">{{ heading }}</span>
        <ng-template #complexBlock>
            <ng-container *ngFor="let headerItem of heading">
                <span *ngIf="headerItem.url === undefined">
                    {{ headerItem.text || headerItem }}</span>
                <a *ngIf="headerItem.url !== undefined"
                    [routerLink]="[headerItem.url]">
                    {{ headerItem.text }}
                </a>
            </ng-container>
        </ng-template>
    </h2>
    <div class="additional-data">
        <span *ngFor="let item of additionalData">{{ item }}</span>
    </div>
</div>
