<ng-container *ngIf="_isVideo(video); else unloadedVideo">
    <!-- <div class="video-details"> -->
        <div class="video-thumbnail">
            <ng-container *ngIf="fullyLoaded; else loadingThumb">
                <img class="main" loading="lazy" [src]="thumbnailUrls[index]" [class.animating]="fading"/>
                <img class="back-image" loading="lazy" [src]="thumbnailUrls[nextIndex]" [class.animating]="fading" />
            </ng-container>
            <ng-template #loadingThumb>
                <div class="no-thumb"></div>
            </ng-template>
        </div>
        <div class="video-metadata">
            <div class="main" [title]="video.name">
                {{ video.name | episode }}
            </div>
            <div class="sub">
                <span class="date">{{ video.created | date:'medium' }}</span>
                <span class="size">{{ video.size | bytes }}</span>
                <span class="res">{{ video.name | episodeResolution }}</span>
            </div>
            <div class="hover-mask">
                <button class="play-button" (click)="playFile()">▶</button>
            </div>
        </div>
        <!-- <div class="watch-bar" [ngStyle]="watchedStyle"></div> -->
    <!-- </div> -->
</ng-container>
<ng-template #unloadedVideo>
    <div class="unloaded">
        <p>{{ video.name }}</p>
    </div>
</ng-template>