<!-- <div class="video-details"> -->
    <div class="video-thumbnail">
        <img [src]="thumbnailUrls[0]">
        <!-- <ng-template #elseBlock>
            <div class="no-thumb" ngClass="no-thumb {{ noThumbStyle }}"></div>
        </ng-template> -->
    </div>
    <div ngClass="video-metadata">
        <div class="main">{{ video.name }}</div>
        <div class="sub">
            <span class="date">{{ video.created }}</span>
            <span class="size">{{ video.size }}</span>
        </div>
        <div class="hover-mask">
            <button class="play-button" (click)="playFile()">▶</button>
        </div>
    </div>
    <!-- <div class="watch-bar" [ngStyle]="watchedStyle"></div> -->
<!-- </div> -->
