<div>
  <ng-container *ngIf="loaded; else loadingBlock">
    <app-directory-list 
      *ngIf="directories.length > 0 || videos.length === 0"
      [baseDir]="baseDir"
      [heading]="headingTitle"
      [directories]="directories">
    </app-directory-list>
    <app-showcase
      *ngIf="videos.length > 0"
      [showcaseTitle]="headingTitle"
      [contents]="videos"
      [baseDir]="baseDir">
    </app-showcase>
  </ng-container>
  <ng-template #loadingBlock>
    <app-loading></app-loading>
  </ng-template>
</div>
