<div ngClass="video-details {{ loadingThumbnail === true ? 'loading' : '' }}">
    <div class="video-thumbnail">
        <img appLazyLoad *ngIf="!loadingThumbnail; else elseBlock" [src]="currentThumbnail">
        <ng-template #elseBlock><div class="no-thumb" ngClass="no-thumb {{ getNoThumbStyle() }}"></div></ng-template>
    </div>
    <div ngClass="video-metadata">
        <div class="main">{{ prettyName }}</div>
        <div class="sub">
            <span class="date">{{ prettyDate }}</span>
            <span class="size">{{ prettySize }}</span>
        </div>
    </div>
    <div class="watch-bar"></div>
</div>