@media only screen and (min-width: 960px) {
    :host {
        flex-basis: 33.33%;
    }
}

@media only screen and (max-width: 960px) {
    :host {
        flex-basis: 50%;
    }
}

:host {
    display: block;
}

.video-details {
    display: block;
    position: relative;
    height: calc(100% - 1em);
    margin: 0.5rem;
    box-shadow: 1px 1px 4px #999;

    &:hover .video-thumbnail img {
        opacity: 0.8;
    }

    &:hover .video-thumbnail .no-thumb {
        filter: blur(2px);
    }

    &.loading .video-thumbnail .no-thumb {
        /* this is a bit of a hack, padding is always based on width
           so if we pad by 56.25% on a 0 height box, we'll get a 16:9 ratio */
        padding-bottom: 56.25%;
    }

    .video-thumbnail {
        background-color: #000000;

        img {
            display: block;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        .no-thumb {
            display: block;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            /* causing issues with text shadow, move to another element */
            background: linear-gradient(
                rgba(0,0,0,0) 0%,
                rgba(0,0,0,0) 60%,
                rgba(0,0,0,0.15) 100%);
        }
    }

    .video-metadata {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5rem;
        font-size: 0.8em;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        color: white;

        /* helps visibility */
        text-shadow: 
            0 0 6px #333,
            0 0 12px #333,
            0 0 18px #333,
            0 0 24px #333;
            
        .main {
            font-size: 1.2em;
        }

        .sub > * {
            margin-right: 1rem;
        }
    }

    &.loading .video-metadata {
        // override visibility helpers
        text-shadow: 
            0 0 12px #333,
            0 0 24px #666;
    }

    .hover-mask:hover {
        opacity: 1;
    }
    .hover-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;

        button {
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
        }
        button:hover {
            text-shadow: 
                0 0 6px #fff,
                0 0 12px #ccc,
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);

            font-size: 3.5em;
            color: #fff;
        }

        .jump-folder-button {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;

            font-size: 1.5rem;
            color: #fff;
        }
    }
}

@for $i from 0 through 18 {
    .no-thumb-deg-#{$i} {
        background-image:
            linear-gradient(#{$i*20}deg,
            rgba(204, 204, 255, 1) 0%,
            rgba(255, 204, 255, 1) 50%,
            rgba(255, 204, 204, 1) 100%);
    }
}