<div class="video-details" [class.loading]="loadingThumbnail">
    <div class="video-thumbnail">
        <img appLazyLoad *ngIf="!loadingThumbnail; else elseBlock" [src]="currentThumbnail">
        <ng-template #elseBlock>
            <div class="no-thumb" ngClass="no-thumb {{ noThumbStyle }}"></div>
        </ng-template>
    </div>
    <div ngClass="video-metadata">
        <div class="main">{{ prettyName }}</div>
        <div class="sub">
            <span class="date">{{ prettyDate }}</span>
            <span class="size">{{ prettySize }}</span>
        </div>
        <div class="hover-mask">
            <button class="play-button" (click)="playFile()">▶</button>
            <button class="jump-folder-button" (click)="jumpToFolder()">↶</button>
        </div>
    </div>
    <div class="watch-bar"></div>
</div>