@import "src/styles/screen-sizes";

::ng-deep :root {
    --card-data-margin: 17px;
    --card-data-smaller-margin: 10px;
    --small-font: 2rem;
    --tiny-font: 1.2rem;
}

@media (max-width: $layout-2-col-screen-max) {
    ::ng-deep :root {
        --small-font: 1.75rem;
        --tiny-font: 1.1rem;
    }
}


:host.series {
    display: inline-grid;
    grid-template-columns: var(--card-img-width) auto;

    .series-preview-content .content .bottom {
        left: var(--card-img-width);
    }
}

:host {
    .series-preview-thumbnail {
        cursor: pointer;
        position: relative;
        z-index: 10;
        overflow: hidden;

        .badge {
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: var(--colour-header-background-semi-transparent);
            z-index: 1;
            color: var(--colour-text-bright);
            font-size: 1.2rem;
            padding: 0.2rem 0.4rem;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover 
        }
    }

    .series-preview-content {
        margin: var(--card-data-margin);

        .pre-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: var(--colour-text-lighter);
            font-size: 1.4rem;
            font-weight: 600;

            .episodes .noun {
                font-size: 0.8em;
                // color: var(--colour-text-lighter);
            }
        }

        header {
            .native-title {
                font-size: 2.3rem;
                font-weight: 600;
                padding-top: 5px;
                color: var(--colour-text-black);
            }
            .native-title.long {
                font-size: var(--small-font);
            }
            .alt-title {
                font-size: 1.4rem;
                text-overflow: ellipsis;
                color: var(--colour-text-light);
                padding-top: 3px;
            }
            .alt-title.long {
                font-size: var(--tiny-font);
            }
        }

        .divider {
            opacity: 0.5;
        }

        .content {
            margin-top: 5px;
            .studio {
                // font-style: italic;
                font-weight: 600;
                font-size: 1.2rem;
            }

            .source-media {
                padding-top: 5px;
                font-size: 1.2rem;
            }

            .bottom {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                padding: var(--card-data-smaller-margin) var(--card-data-margin);
                background-color: var(--colour-bg-light-accent);

                .rel {
                    font-size: 1.2rem;
                }
            }

            .genres {
                padding-left: 0;
                // align-content: flex-start;
                li {
                    list-style: none;
                    display: inline-block;
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                    background: hsl(215,81%,56%);
                    border-radius: 10px;
                    height: 2rem;
                    margin-right: 11px;
                    padding: 0 12px;
                    text-transform: lowercase;
                }
            }
        }
    }

    &:hover {
        .series-preview-content header .native-title {
            color: var(--colour-text-magenta);
        }
    }
}
