<ng-container *ngIf="identified; else genericDir">
    <div class="series-preview-thumbnail">
        <a [routerLink]="[seriesLink]">
            <div *ngIf="series.newFiles" class="badge">{{ series.newFiles.length }}</div>
            <img [src]="coverImage" />
        </a>
    </div>
    <div class="series-preview-content">
        <div class="pre-header">
            <p class="season">{{ series.aniListData.season | titlecase}} {{ series.aniListData.seasonYear }}</p>
            <p class="episodes"
                *ngIf="(series.aniListData.episodes | episodeCount:series.aniListData.nextAiringEpisode) as eps">
                {{ eps }}
                <span class="noun">eps</span>
            </p>
        </div>
        <header class="header">
            <a [routerLink]="[seriesLink]">
                <h3 class="native-title" [fixLongWords]="['long', 20]">
                    {{ series.aniListData.nativeTitle }}
                </h3>
            </a>
            <p class="alt-title"
                [class.long]="series.aniListData.title.length > 30">
                {{ series.aniListData.title }}</p>
        </header>
        <hr class="divider" />
        <div class="content">
            <p class="studio">{{ series.aniListData.studio }}</p>
            <p class="source-media">{{ series.aniListData.source | sourceMedia | titlecase }}</p>
            <div class="bottom">
                <p class="rel">{{ series.rel }}</p>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #genericDir>
    <div class="series-preview-content">
        <header class="header">
            <h3 class="native-title">
                <a [routerLink]="[seriesLink]">
                    {{ series.name }}
                </a>
            </h3>
        </header>
        <hr class="divider" />
        <div class="content">
            <div class="bottom">
                <p class="rel monospace">{{ series.rel }}</p>
            </div>
        </div>
    </div>
</ng-template>