<div class="directory-list"
    [class.fav]="baseDir && baseDir.metadata && baseDir.metadata.isPinned">
    <app-box-header
      [heading]="heading"
      [watched]="watched"
      [totalVideoCount]="totalVideoCount"
      [totalCount]="totalCount"
      [lastUpdated]="lastUpdated">
    </app-box-header>
    <div class="directory-list-contents">
        <ng-container *ngIf="directories && directories.length > 0; else errorBlock">
            <app-directory-detail *ngFor="let dir of directories"
                [directory]="dir">
            </app-directory-detail>
        </ng-container>
        <ng-template #errorBlock>
            <app-error errorMessage="We couldn't find anything!"></app-error>
        </ng-template>
    </div>
    <div class="hover-bar"
        *ngIf="baseDir">
        <app-fav-button [directory]="baseDir"></app-fav-button>
    </div>
</div>