<div class="directory-list"
    [class.fav]="baseDir.metadata && baseDir.metadata.isPinned">
    <app-box-header
      [heading]="heading"
      [watched]="watched"
      [totalVideoCount]="totalVideoCount"
      [totalCount]="totalCount"
      [lastUpdated]="lastUpdated">
    </app-box-header>
    <div class="directory-list-contents">
        <app-directory-detail *ngFor="let dir of directories" 
            [directory]="dir">
        </app-directory-detail>
    </div>
    <div class="hover-bar">
        <app-fav-button [directory]="baseDir"></app-fav-button>
    </div>
</div>