.directory-list {
    position: relative;
    background-color: #fff;
    margin: 1rem;
    box-shadow: 1px 1px 4px #ccc;
    max-width: 1331px;
    min-width: 960px;

    .directory-list-contents {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hover-bar {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    app-error {
        width: 100%;
    }
}