.directory-list {
    background-color: #fff;
    margin: 1rem;
    box-shadow: 1px 1px 4px #ccc;

    .directory-list-contents {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
}