@import "src/styles/screen-sizes";

:host {
    display: block;
    position: relative;
    margin-top: var(--main-content-upshift);
}

.flavour {
    position: absolute;
    width: calc(0.75 * var(--app-width));
    top: 0;
    right: 0;

    .quote {
        font-size: 1.2rem;
        text-align: right;;
        font-style: italic;
    }
}

@media (max-width: $layout-1-col-screen-max) {
    .flavour {
        display: none;
    }
}